html,
body,
#root {
  /* gray.50 */
  background-color: #f7fafc !important;
  height: 100%;
}

#root .chakra-text a {
  /* blue.500 */
  border-bottom: 1px solid #3182ce;
  color: #3182ce;
}

#root .chakra-text a:hover {
  /* blue.600 */
  border-bottom: 1px solid #1e4e8c;
  color: #1e4e8c;
}
