.report-label {
    font-weight:400;
    font-size: 1em;
}

.report-form {
    position:relative;
    width:100%;
    background-color:#f7fafc;
    padding:2em;
    border-radius: 10px;

}

.report-problem {
    font-size: 0.75em;
    font-weight:300;
    text-align:left;
    float:right;
    color:#a9a9a9;
}

.sendEmailButton {
    margin-top:2em;
}

.chakra-form-control {
    font-size: 0.75em;
  }

